a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html,
body {
  font-size: 125%;
  /* 125% = 20px = 1rem */
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

html,
body {
  font-size: 125%;
  /* 125% = 20px = 1rem */
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
  list-style-type: none;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
}

nav a:hover {
  color: #86e0f9;
}

html,
body {
  font-size: 125%;
  /* 125% = 20px = 1rem */
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.find-button {
  background: #86e0f9;
  padding: .7rem 1.5rem;
  color: #0c1423;
  border: none;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
}

.read-button {
  background: #0c1423;
  padding: .7rem 1.5rem;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
}

html,
body {
  font-size: 125%;
  /* 125% = 20px = 1rem */
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

html,
body {
  font-size: 125%;
  /* 125% = 20px = 1rem */
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.find-button {
  background: #86e0f9;
  padding: .7rem 1.5rem;
  color: #0c1423;
  border: none;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
}

.read-button {
  background: #0c1423;
  padding: .7rem 1.5rem;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
}

.home-header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(../images/header-image.jpg);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../images/header-image.jpg);
  background-size: cover;
  /* or contain depending on what you want */
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
}

.home-header-img {
  position: absolute;
  width: 650px;
  top: 165px;
  left: 630px;
}

.home-h1 {
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  font-size: 5rem;
  text-transform: uppercase;
  width: 200px;
  position: absolute;
  top: 150px;
  left: 110px;
  margin: 0;
}

.home-main {
  background-color: #0c1423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem 2rem;
}

.home-main .home-main-h2 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.home-main .home-main-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
}

.home-main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.5rem;
}

.new-additions-img {
  max-width: auto;
}

.new-additions-container {
  background-color: #0f614e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-additions-container img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 30px 30px 0 0 #86e0f9;
          box-shadow: 30px 30px 0 0 #86e0f9;
  margin-top: -1.5rem;
}

.new-additions-container .additions-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 5rem 5rem 10rem;
  width: 700px;
  color: #ffffff;
}

.new-additions-container .additions-content h3 {
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  letter-spacing: .1rem;
  padding-bottom: 1.5rem;
}

.new-additions-container .additions-content p {
  font-family: "Lato", sans-serif;
  font-size: .8rem;
  margin: 0;
  line-height: 1.2rem;
}

.new-additions-container .additions-content button {
  max-width: 170px;
  margin-top: 2rem;
}

.nemo-img {
  max-width: auto;
}

.nemo-container {
  background-color: #0f614e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.nemo-container img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: -30px 30px 0 0 #86e0f9;
          box-shadow: -30px 30px 0 0 #86e0f9;
  margin-top: 1.5rem;
}

.nemo-container .nemo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 8rem 2rem;
  width: 700px;
  color: #ffffff;
  text-align: right;
}

.nemo-container .nemo-content h3 {
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  letter-spacing: .1rem;
  padding-bottom: 1.5rem;
}

.nemo-container .nemo-content p {
  font-family: "Lato", sans-serif;
  font-size: .8rem;
  margin: 0;
  line-height: 1.2rem;
}

.nemo-container .nemo-content button {
  max-width: 170px;
  margin-top: 2rem;
  text-align: right;
}

.nemo-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.list-icon {
  background-color: #0c1423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-icon .list-icon-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ffffff;
  padding: 3rem 0 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-list {
  width: 500px;
  list-style: none;
  padding: 1rem;
}

.content-list h3 {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}

.content-list p {
  font-family: "Lato", sans-serif;
  font-size: .8rem;
  margin: 0;
  padding-left: 3rem;
  line-height: 1.2rem;
}

.locations {
  margin-left: 20px;
}

.community {
  margin-left: 15px;
}

.blogs {
  margin-left: 21px;
}

.in-touch {
  margin-left: 19px;
}

.list-h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.list-icon-circle {
  position: absolute;
  border: 10px solid #86e0f9;
  background-color: #86e0f9;
  padding: 10px;
  border-radius: 50%;
}

.fas {
  z-index: 1;
  color: #0c1423;
  padding: .5rem;
  font-size: 1rem;
}

.fa-file {
  margin-left: 3px;
}

.fa-users {
  margin-left: -2px;
}

.fa-location-arrow {
  margin-left: -1px;
  padding-top: 0.6rem;
}

.fa-phone {
  padding-top: 0.6rem;
}

.profile-container {
  background-color: #0c1423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1rem;
}

.profile-container .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.profile-container .profile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  padding: 5rem 0;
}

.profile-container .profile-content h2 {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  padding: 0 0 1rem;
}

.profile-container .profile-content p {
  font-family: "Lato", sans-serif;
  font-size: .8rem;
  line-height: 1.2rem;
}

.profile-container .profile-content button {
  max-width: 200px;
  margin-top: 1rem;
}

.profile-container .square-img {
  width: 250px;
  max-width: auto;
  -webkit-box-shadow: 30px 30px 0 0 #86e0f9;
          box-shadow: 30px 30px 0 0 #86e0f9;
  margin: 5rem 5rem 0 0;
}

.gallery {
  background-color: #0f614e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-ul li {
  padding: 2rem .5rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #86e0f9;
  padding: .5rem;
}

footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0c1423;
  font-family: "Lato", sans-serif;
  font-size: .8rem;
  margin: 0;
  padding: .5rem;
}

html,
body {
  font-size: 125%;
  /* 125% = 20px = 1rem */
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

html,
body {
  font-size: 125%;
  /* 125% = 20px = 1rem */
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
  list-style-type: none;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
}

nav a:hover {
  color: #86e0f9;
}

html,
body {
  font-size: 125%;
  /* 125% = 20px = 1rem */
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.find-button {
  background: #86e0f9;
  padding: .7rem 1.5rem;
  color: #0c1423;
  border: none;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
}

.read-button {
  background: #0c1423;
  padding: .7rem 1.5rem;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
}

.blog-header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(../images/blog-header.jpg);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../images/blog-header.jpg);
  background-size: cover;
  /* or contain depending on what you want */
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
}

.blog-header h1 {
  position: absolute;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  font-size: 4rem;
  text-transform: uppercase;
  padding-bottom: -2rem;
  top: 245px;
  left: 440px;
}

img {
  max-width: 100%;
}

.blog-wrapper {
  background-color: #0c1423;
}

.main-aside-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  background-color: #0c1423;
  color: #ffffff;
}

.blog-main-img {
  -webkit-box-shadow: -30px 30px 0 0 #86e0f9;
          box-shadow: -30px 30px 0 0 #86e0f9;
  position: absolute;
  z-index: 1;
  width: 836px;
  top: -255px;
  left: 444px;
}

.blog-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin-left: 6rem;
}

.blog-main .blog-main-content {
  border-left: 5px solid #86e0f9;
  margin-top: 16.5rem;
  padding-left: 2rem;
  border-bottom: 5px solid #86e0f9;
}

.blog-main .blog-main-content h2 {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  padding: 1.5rem 0 .5rem;
}

.blog-main .blog-main-content .date {
  font-family: "Lato", sans-serif;
  font-size: .8rem;
}

.blog-main .blog-main-content .content {
  font-family: "Lato", sans-serif;
  font-size: .8rem;
  padding: 1rem 0;
  line-height: 1.1rem;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
}

.comments h3 {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  padding-bottom: 2.5rem;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.comment img {
  padding-right: 1rem;
  width: 300px;
}

.comment .comment-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato", sans-serif;
  font-size: .8rem;
  line-height: 1.1rem;
  margin-bottom: 2.5rem;
}

.comment .comment-content .date {
  padding-bottom: .5rem;
}

.blog-aside .blog-side-img-container {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 335px;
}

.blog-aside .aside-content {
  position: absolute;
  background-color: #0f614e;
  width: 250px;
  padding: 14rem 1rem 1rem .5rem;
  margin-top: 1rem;
}

.aside-about h4 {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: .5rem;
}

.aside-about p {
  font-family: "Lato", sans-serif;
  font-size: .8rem;
  padding-bottom: 2rem;
}

.recent-posts h4 {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: .5rem;
}

.recent-posts ul {
  list-style-type: disc;
  font-family: "Lato", sans-serif;
  font-size: .8rem;
  margin-left: 1rem;
}

.form-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  border: none;
}

.form-user-info .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  margin-right: -1px;
  background-color: #0c1423;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #86e0f9;
}

.form-user-info .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  background-color: #0c1423;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #86e0f9;
}

.name::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: .8rem;
  letter-spacing: .1rem;
}

.name:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: .8rem;
  letter-spacing: .1rem;
}

.name::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: .8rem;
  letter-spacing: .1rem;
}

.name::placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: .8rem;
  letter-spacing: .1rem;
}

.email::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: .8rem;
  letter-spacing: .1rem;
}

.email:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: .8rem;
  letter-spacing: .1rem;
}

.email::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: .8rem;
  letter-spacing: .1rem;
}

.email::placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: .8rem;
  letter-spacing: .1rem;
}

.form-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-function .comment-textbox {
  display: block;
  margin-top: 1rem;
  width: 100%;
  height: 300px;
  background-color: #0c1423;
  color: #ffffff;
  border: 2px solid #86e0f9;
}

.form-function .post-comment {
  width: 100%;
  border: none;
  margin: 2rem 0;
  padding: .5rem;
  background-color: #0f614e;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  letter-spacing: .1rem;
}

.comment-textbox::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.comment-textbox:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.comment-textbox::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.comment-textbox::placeholder {
  color: #ffffff;
  opacity: 1;
}

.post-comment::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  padding: 2rem;
}

.post-comment:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  padding: 2rem;
}

.post-comment::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  padding: 2rem;
}

.post-comment::placeholder {
  color: #ffffff;
  opacity: 1;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  padding: 2rem;
}

.contact-input {
  position: absolute;
  top: 350px;
  left: 425px;
  background-color: #0f614e;
  width: 800px;
  height: 540px;
  -webkit-box-shadow: -30px 30px 0 0 #86e0f9;
          box-shadow: -30px 30px 0 0 #86e0f9;
}

.contact-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  border: none;
  padding: 4rem 2rem 2rem;
}

.contact-user-info .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  margin-right: -1px;
  background-color: #0f614e;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #86e0f9;
}

.contact-user-info .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  background-color: #0f614e;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #86e0f9;
}

.contact-form-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1rem;
}

.contact-form-function .message-textbox {
  display: block;
  margin-top: 1rem;
  width: auto;
  height: 300px;
  background-color: #0f614e;
  color: #ffffff;
  border: 2px solid #86e0f9;
  margin: 0 2rem 1rem;
}

.contact-form-function .submit-button {
  border: none;
  margin: 0 2rem;
  padding: .5rem;
  background-color: #0c1423;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  letter-spacing: .1rem;
}

html,
body {
  font-size: 125%;
  /* 125% = 20px = 1rem */
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

html,
body {
  font-size: 125%;
  /* 125% = 20px = 1rem */
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
  list-style-type: none;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
}

nav a:hover {
  color: #86e0f9;
}

html,
body {
  font-size: 125%;
  /* 125% = 20px = 1rem */
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.find-button {
  background: #86e0f9;
  padding: .7rem 1.5rem;
  color: #0c1423;
  border: none;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
}

.read-button {
  background: #0c1423;
  padding: .7rem 1.5rem;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
}

.contact-header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(../images/contact-header.jpg);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../images/contact-header.jpg);
  background-size: cover;
  /* or contain depending on what you want */
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
}

.contact-header h1 {
  position: absolute;
  font-family: "Barlow", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  color: #ffffff;
  top: 250px;
  left: 420px;
}

.form-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  border: none;
}

.form-user-info .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  margin-right: -1px;
  background-color: #0c1423;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #86e0f9;
}

.form-user-info .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  background-color: #0c1423;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #86e0f9;
}

.name::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: .8rem;
  letter-spacing: .1rem;
}

.name:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: .8rem;
  letter-spacing: .1rem;
}

.name::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: .8rem;
  letter-spacing: .1rem;
}

.name::placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: .8rem;
  letter-spacing: .1rem;
}

.email::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: .8rem;
  letter-spacing: .1rem;
}

.email:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: .8rem;
  letter-spacing: .1rem;
}

.email::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: .8rem;
  letter-spacing: .1rem;
}

.email::placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: .8rem;
  letter-spacing: .1rem;
}

.form-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-function .comment-textbox {
  display: block;
  margin-top: 1rem;
  width: 100%;
  height: 300px;
  background-color: #0c1423;
  color: #ffffff;
  border: 2px solid #86e0f9;
}

.form-function .post-comment {
  width: 100%;
  border: none;
  margin: 2rem 0;
  padding: .5rem;
  background-color: #0f614e;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  letter-spacing: .1rem;
}

.comment-textbox::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.comment-textbox:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.comment-textbox::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.comment-textbox::placeholder {
  color: #ffffff;
  opacity: 1;
}

.post-comment::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  padding: 2rem;
}

.post-comment:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  padding: 2rem;
}

.post-comment::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  padding: 2rem;
}

.post-comment::placeholder {
  color: #ffffff;
  opacity: 1;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  padding: 2rem;
}

.contact-input {
  position: absolute;
  top: 350px;
  left: 425px;
  background-color: #0f614e;
  width: 800px;
  height: 540px;
  -webkit-box-shadow: -30px 30px 0 0 #86e0f9;
          box-shadow: -30px 30px 0 0 #86e0f9;
}

.contact-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  border: none;
  padding: 4rem 2rem 2rem;
}

.contact-user-info .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  margin-right: -1px;
  background-color: #0f614e;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #86e0f9;
}

.contact-user-info .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  background-color: #0f614e;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #86e0f9;
}

.contact-form-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1rem;
}

.contact-form-function .message-textbox {
  display: block;
  margin-top: 1rem;
  width: auto;
  height: 300px;
  background-color: #0f614e;
  color: #ffffff;
  border: 2px solid #86e0f9;
  margin: 0 2rem 1rem;
}

.contact-form-function .submit-button {
  border: none;
  margin: 0 2rem;
  padding: .5rem;
  background-color: #0c1423;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  letter-spacing: .1rem;
}

.contact-aside {
  background-color: #0c1423;
  color: #ffffff;
  padding: 6rem 0;
  font-size: 1rem;
}

.contact-aside .contact-aside-content {
  width: 300px;
}

.contact-aside .contact-aside-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-aside .contact-aside-content ul li {
  padding-right: 1rem;
}

.contact-aside .contact-aside-content .contact-email {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.contact-aside .contact-aside-content .contact-info {
  font-family: "Lato", sans-serif;
  font-size: .8rem;
  line-height: 1.1rem;
  padding-top: 1rem;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html,
body {
  font-size: 125%;
  /* 125% = 20px = 1rem */
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

html,
body {
  font-size: 125%;
  /* 125% = 20px = 1rem */
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
  list-style-type: none;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
}

nav a:hover {
  color: #86e0f9;
}

html,
body {
  font-size: 125%;
  /* 125% = 20px = 1rem */
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.find-button {
  background: #86e0f9;
  padding: .7rem 1.5rem;
  color: #0c1423;
  border: none;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
}

.read-button {
  background: #0c1423;
  padding: .7rem 1.5rem;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
}
